aiohttp==3.5.4
antiorm==1.2.1
asgiref==3.2.5
async-timeout==3.0.1
attrs==19.3.0
beautifulsoup4==4.8.2
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
click==7.1.1
cssselect==1.1.0
db==0.1.1
Django==3.0.4
Flask==1.0.2
idna==2.8
idna-ssl==1.1.0
itsdangerous==1.1.0
Jinja2==2.11.1
lxml==4.6.5
MarkupSafe==1.1.1
multidict==4.7.5
pyquery==1.4.0
pytz==2019.3
redis==3.2.1
requests==2.21.0
selenium==3.141.0
soupsieve==2.0
sqlparse==0.3.1
typing-extensions==3.7.4.1
urllib3==1.24.3
Werkzeug==1.0.0
yarl==1.4.2
